.price-text {
  font-size: 1.2rem;
  font-weight: normal; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* Color palette */
:root {
  --red-pink: #f62f5e;
  --black: #2e2e2e;
  --white: #ffffff;
  --very-light-pink: #efefef;
  --battleship-grey: #6c6d7a;
  --ice-blue: #eff5f8; }

/* Text styles */
.logotypewhite {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 6px;
  color: var(--white); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

a {
  text-decoration: none; }

.price-text {
  font-size: 1.2rem;
  font-weight: normal; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* Color palette */
:root {
  --red-pink: #f62f5e;
  --black: #2e2e2e;
  --white: #ffffff;
  --very-light-pink: #efefef;
  --battleship-grey: #6c6d7a;
  --ice-blue: #eff5f8; }

/* Text styles */
.logotypewhite {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 6px;
  color: var(--white); }

.container {
  display: grid;
  grid-template-rows: 4.8rem minmax(7.2rem, auto) minmax(179.9rem, auto) 7.2rem 24rem; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: minmax(7.2rem, auto) minmax(179.9rem, auto) auto 24rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: minmax(7.2rem, auto) auto 24rem; } }

.header-top {
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  background-color: #f7f7f7;
  grid-template-columns: minmax(auto, 17.2rem) minmax(auto, 28.1rem) minmax(auto, 8.3rem) minmax(auto, 16.1rem);
  grid-template-rows: 100%; }
  @media only screen and (max-width: 56.25em) {
    .header-top {
      display: none; } }

.currency_logo_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  align-items: center; }

.your-cart-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.9rem;
  align-items: center;
  cursor: pointer; }

.pool-ball-wrapper {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  bottom: 7px; }

.pool-cart-wrapper {
  display: flex;
  position: relative; }

.header-bottom {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: #2e2e2e;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .header-bottom {
      grid-template-columns: auto auto;
      align-content: center; }
      .header-bottom > .variaties,
      .header-bottom .search {
        display: none; } }

.variaties {
  display: grid;
  grid-template-columns: repeat(5, 63px);
  grid-column-gap: 2rem; }

.white-pool-cart-wrapper {
  display: flex;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .white-pool-cart-wrapper {
      padding-right: 3rem; } }

.main-content {
  display: grid;
  grid-template-rows: repeat(4, auto);
  background-color: #f7f7f7;
  padding: 2.5rem 3rem;
  grid-row-gap: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .main-content {
      padding: 0; } }

.three-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 2rem;
  justify-content: center; }

.card-wrapper {
  position: relative;
  width: 300px;
  height: 336px; }
  .card-wrapper:hover .overlay {
    visibility: visible;
    z-index: 100;
    opacity: 0.98; }
  .card-wrapper:hover {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }

.color-list {
  display: flex; }
  .color-list :not(:last-child) {
    margin-right: 0rem; }

.margin-b-48 {
  margin-bottom: 4.8rem; }

.margin-b-20 {
  margin-bottom: 2rem; }

.margin-b-15 {
  margin-bottom: 1.5rem; }

.margin-b-30 {
  margin-bottom: 3rem; }

.size-buynow-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: .8rem; }

.button-wrapper {
  width: 9.1rem;
  height: 3.5rem;
  cursor: pointer; }

.wish_list_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  height: 2.4rem;
  grid-gap: .7rem; }
  .wish_list_wrapper--grey {
    color: var(--battleship-grey); }

.filter-gallery-container {
  display: grid;
  grid-template-columns: minmax(auto, 220px) auto;
  grid-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .filter-gallery-container {
      grid-template-columns: auto; } }

.main-gallary {
  display: grid;
  height: 700px;
  max-height: 700px;
  grid-template-columns: repeat(auto-fill, 22rem);
  grid-column-gap: 2rem;
  grid-row-gap: 2.4rem;
  justify-content: center;
  overflow-y: scroll; }

.small-card-wrapper {
  position: relative;
  width: 22rem;
  height: 336px; }
  .small-card-wrapper:hover .overlay {
    visibility: visible;
    z-index: 100;
    opacity: 0.98; }
  .small-card-wrapper:hover {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }

.filter-wrapper {
  display: grid;
  background-color: #ffffff;
  width: 233px;
  height: 697px;
  align-content: flex-start;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 37.5em) {
    .filter-wrapper {
      width: 100%;
      height: auto; } }

.filter-top {
  display: grid;
  height: 121px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  padding-left: 2rem;
  align-content: center; }

.filter__heading {
  font-family: Lato;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal; }

.filter-list {
  display: flex;
  height: 24px;
  align-items: center;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #f62f5e;
  font-size: 1.2rem;
  color: rgba(46, 46, 46, 0.6);
  font-weight: normal;
  justify-items: start; }

.filter-type {
  margin-right: .5rem; }

.color-wrapper {
  display: grid;
  grid-row-gap: 10px;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #b4b4b4;
  padding-left: 2rem; }

.filter-middle {
  height: 505px;
  padding: 4rem 0;
  display: grid;
  grid-row-gap: 3rem;
  background-color: white; }
  @media only screen and (max-width: 37.5em) {
    .filter-middle {
      width: 100%;
      grid-template-columns: auto auto;
      height: auto; } }

.size-wrapper {
  display: grid;
  justify-content: start;
  grid-row-gap: 10px;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #b4b4b4;
  padding-left: 2rem; }

.size-box-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem; }
  .size-box-grid--auto {
    grid-template-columns: repeat(5, minmax(auto, 1fr)); }

.slide-container {
  display: flex;
  width: 100%; }

.price-slider-wrapper {
  display: grid;
  justify-content: start;
  grid-row-gap: 10px;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #b4b4b4;
  padding-left: 2rem;
  padding-right: 2rem; }

.price-wrapper {
  display: flex;
  justify-content: space-between; }

.brand-wrapper {
  display: grid;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #b4b4b4;
  padding-left: 2rem;
  height: 122px;
  overflow-y: auto;
  padding-right: 2rem; }

.input-group {
  grid-column-gap: 2rem;
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: black;
  align-items: center;
  cursor: pointer; }

.filter-bottom {
  display: grid;
  height: 71px;
  grid-template-columns: minmax(auto, 9.1rem) 2rem 1fr;
  grid-gap: 1.5rem;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa; }
  @media only screen and (max-width: 37.5em) {
    .filter-bottom {
      width: 100%;
      grid-template-columns: 1fr 2rem 5rem; } }

.catalog {
  position: relative;
  height: 336px;
  max-height: 336px; }
  @media only screen and (max-width: 37.5em) {
    .catalog {
      display: none; } }

.column-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(20%, auto));
  grid-gap: .1rem;
  width: 100%; }

.jumbo-text-wrapper {
  display: grid;
  grid-row-gap: 1.5rem;
  grid-template-rows: 72px 144px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  align-content: center;
  padding: 0 0 0 10rem; }

.detail-container {
  display: grid;
  grid-template-rows: minmax(auto, 4.8rem) 7.2rem 1fr 24.1rem;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .detail-container {
      grid-template-rows: 7.2rem 1fr auto; } }

.detail-main-content {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(auto, 62.5rem) minmax(auto, 74.3rem) 3.6rem minmax(auto, 33.6rem);
  background-color: #f7f7f7; }

.product-detail-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.9rem 0 4.8rem 0;
  background-color: white;
  margin: 2.4rem 3rem 0 3rem;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .product-detail-wrapper {
      grid-template-columns: auto;
      justify-content: center;
      justify-items: center;
      margin: 0; } }

.product-overview {
  display: grid;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .product-overview {
      grid-template-columns: auto;
      justify-content: center;
      justify-items: center; } }
  .product-overview > .breadcrumb {
    width: 399px;
    height: 24px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #a6a6a6; }
    @media only screen and (max-width: 37.5em) {
      .product-overview > .breadcrumb {
        display: none; } }

.no-padding {
  padding: 0; }

.input-quantity-group {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  grid-gap: 4px; }

.quantity-wrapper {
  display: grid;
  grid-row-gap: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .quantity-wrapper {
      grid-template-columns: auto;
      justify-content: center;
      justify-items: center;
      grid-row-gap: 10px; } }

.cart-wish-list-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .cart-wish-list-wrapper {
      grid-template-columns: auto;
      justify-content: center;
      justify-items: center;
      grid-row-gap: 10px; } }

.product-reviews-wrapper {
  display: grid;
  background-color: #fafafa;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  padding: 4.2rem 0 4.6rem 7.9rem;
  margin: 0 3rem 4.3rem 3rem; }
  @media only screen and (max-width: 37.5em) {
    .product-reviews-wrapper {
      margin: 0;
      padding: 5%;
      justify-content: center;
      justify-items: start; } }

.rating-reviews {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-column-gap: 12rem; }

.author-time-wrapper {
  display: grid;
  font-family: Montserrat; }
  .author-time-wrapper > p {
    color: lightgrey;
    font-size: 1.2rem; }

.circle-grey-number-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-column-gap: 8px;
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black); }

.fav-comment-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  grid-column-gap: 4rem; }

.add-reviews {
  display: grid;
  grid-row-gap: 2.4rem; }

.form-input-group {
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-gap: 8.1rem;
  align-items: center; }

.rating-submit-wrapper {
  display: grid;
  grid-row-gap: 3.1rem; }

.image-circle-blue-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px; }
  @media only screen and (min-width: 600px) {
    .image-circle-blue-wrapper {
      display: none; } }

.logo-arrow-wrapper {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .logo-arrow-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center; } }

@media only screen and (max-width: 37.5em) {
  .mobile-hide {
    display: none; } }

.mobile-show {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .mobile-show {
      display: block; } }

.column-2-space-between {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  text-align: center; }

.showcase-container {
  display: grid;
  background-color: #f7f7f7;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .showcase-container {
      background-color: white; } }

.search-cart-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2.9rem; }
  @media only screen and (max-width: 37.5em) {
    .search-cart-wrapper {
      display: none; } }

.hero {
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .hero {
      display: none; } }
  .hero > img {
    width: 100%; }
  .hero > div {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.showcase-content {
  padding: 2.4rem 3rem;
  display: grid;
  grid-template-columns: minmax(min-content, 62rem) auto;
  grid-column-gap: 20px;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .showcase-content {
      grid-template-columns: auto;
      padding: 0;
      grid-template-rows: 648px auto;
      height: 100%;
      align-items: center;
      grid-row-gap: 24px;
      margin-bottom: 24px; } }
  .showcase-content__left {
    height: 100%;
    width: 100%; }

.cart-item-price-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between; }
  .cart-item-price-wrapper > h2 {
    height: 33px;
    width: auto; }

#select-box {
  user-select: none;
  position: relative;
  border-radius: 100px; }
  #select-box:focus {
    outline: none; }

.brd {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded; }

#info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #2d3667;
  font-size: 16px;
  text-align: center;
  padding: 14px;
  background-color: #f3f9f9; }

#app-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 42px;
  margin: 100px auto 0 auto; }

#select-button {
  position: relative;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 100px;
  width: 84px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center; }

#options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3; }

#selected-value {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 14px;
  font-family: Montserrat;
  color: rgba(46, 46, 46, 0.6);
  font-size: 12px;
  align-items: center;
  justify-content: center; }

.option i {
  width: 16px;
  height: 16px; }

.option,
.label {
  color: #2d3667;
  font-size: 16px; }

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px; }

#chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right; }

#options-view-button:checked + #select-button #chevrons i {
  color: #2d3667; }

.options {
  position: absolute;
  left: 0;
  width: 250px; }

#options {
  display: grid;
  position: absolute;
  justify-content: start;
  top: 42px;
  right: 0;
  left: 0;
  width: 84px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px; }

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded; }

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
  width: 82px; }

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none; }

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0; }

.label {
  display: none;
  padding: 0;
  margin: 0; }

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px; }

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%; }

.s-c.top {
  top: 0; }

.s-c.bottom {
  bottom: 0; }

input[type="radio"] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer; }

.s-c:hover ~ i {
  color: #fff;
  opacity: 0; }

.s-c:hover {
  height: 100%;
  z-index: 1; }

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards; }

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards; }

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0; }
  100% {
    bottom: 0;
    opacity: 1; } }

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

.label {
  transition: 0.3s ease all; }

.opt-val {
  position: absolute;
  left: 12px;
  width: 28px;
  height: 21px;
  opacity: 0;
  font-family: Montserrat;
  color: rgba(46, 46, 46, 0.6);
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 100px; }

.option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1); }

.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset; }

.option input[type="radio"]:checked ~ i,
.option input[type="radio"]:checked ~ .label {
  color: #fff; }

.option input[type="radio"]:checked ~ .label:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val {
  top: -30px; }

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  border-radius: 4px 4px 0 0; }

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
  top: -31px; }

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #000; }

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px; }

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none; }

#options-view-button:checked ~ #options #option-bg {
  display: block; }

.option:hover .label {
  color: #fff; }

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: #000;
  border-radius: 4px 4px 0 0; }

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #000; }

.chevron-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.link--pink {
  color: #f62f5e;
  text-decoration: none; }

.gbr {
  max-width: 2.4rem;
  max-height: 2.4rem;
  object-fit: contain; }

.pool-ball {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #f62f5e;
  color: #ffffff;
  font-size: 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center; }

.cart {
  height: 2rem;
  width: 2rem; }

.link--white {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none; }
  .link--white-large {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    font-size: 2.4rem;
    color: #ffffff;
    text-decoration: none; }

.search {
  display: flex;
  position: relative;
  width: 26.0rem; }

#search__input {
  height: 3.6rem;
  border-radius: 1.8rem;
  border: none;
  color: #ffffff;
  padding: 0 .8rem 0 4.4rem;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%; }
  #search__input:focus {
    outline: none; }

#search__input::placeholder {
  color: #ffffff; }

.search-icon {
  position: absolute;
  left: 1.3rem;
  bottom: .8rem; }

.close-icon {
  position: absolute;
  left: 23.2rem;
  bottom: .8rem; }

.close-icon-black {
  left: 23.2rem;
  bottom: .8rem; }

.white-pool-ball {
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: .3rem;
  justify-content: flex-end;
  align-items: center;
  border-radius: 100%;
  background-color: #ffffff;
  color: #f62f5e;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center; }

.subscribe {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3.8rem;
  background-color: #efefef;
  padding: 0 3rem;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .subscribe {
      grid-template-columns: auto;
      justify-content: center;
      align-content: center;
      grid-gap: 1rem;
      padding: 3rem; } }
  .subscribe__text {
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2e2e2e; }
  .subscribe__input {
    height: 3.6rem;
    border-radius: 1.8rem;
    border: none;
    color: #bababa;
    padding: 0 .8rem 0 4.4rem;
    font-family: 'Open Sans';
    font-size: 1.4rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    background-color: #ffffff;
    width: 100%; }
    .subscribe__input:focus {
      outline: none; }
    .subscribe__input::placeholder {
      color: #bababa; }
    .subscribe__input--big {
      border: solid 1px #e1e1e1;
      max-width: 309px;
      height: 48px;
      border-radius: 24px; }
  .subscribe__email-icon {
    position: absolute;
    bottom: .7rem;
    left: 1.2rem; }
    .subscribe__email-icon--big {
      bottom: 14px; }
  .subscribe__input-group {
    position: relative;
    width: 100%; }
  .subscribe__input-button {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .8rem; }

.button {
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  border: none;
  border-radius: 2.4rem;
  background-color: #f62f5e;
  color: #ffffff;
  cursor: pointer; }
  .button:focus {
    outline: none; }
  .button--big {
    width: 163px;
    height: 48px;
    border-radius: 24px; }
  .button--white {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #f62f5e;
    background-color: white; }

.catalog-with-photo {
  width: 100%;
  height: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 56.25em) {
    .catalog-with-photo {
      object-position: right; } }

.shop-brand {
  width: 100%; }
  .shop-brand__image {
    width: 100%;
    object-fit: contain; }

.card {
  display: grid;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: all .5s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 2.5rem 0 3.4rem 0; }
  .card:hover {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }

.hot-tag {
  background-color: #f62f5e;
  width: 57px;
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-align: end;
  padding: 0 5px 0 10px;
  position: absolute;
  top: 10.6%;
  left: 7.6%; }

.shirt-title {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  word-wrap: break-word; }

.card-image {
  width: 18.6rem;
  height: 18.6rem; }

.card-image-small {
  width: 18.2rem;
  height: 18.2rem;
  object-fit: contain; }

.shirt-price {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #f62f5e; }
  .shirt-price--small {
    color: rgba(46, 46, 46, 0.6);
    font-weight: normal; }
  .shirt-price--big {
    font-size: 2.4rem; }

.radio {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%; }
  .radio--pink {
    background-color: #f62f5e; }
  .radio--green {
    background-color: #00d3ca; }
  .radio--blue {
    background-color: #6eb2fb; }

.overlay {
  display: grid;
  justify-items: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: #ffffff;
  z-index: 0;
  opacity: 0;
  transition: all .8s;
  cursor: pointer; }

.gray-text {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #f62f5e;
  color: rgba(46, 46, 46, 0.6);
  font-weight: normal; }

.stroke {
  -webkit-text-stroke: 1px #979797;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.form__radio-group {
  display: block;
  width: 2rem; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 12px;
  cursor: pointer;
  position: relative;
  opacity: 1;
  width: 1px; }

.form__radio-button {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem;
  background-color: blue;
  cursor: pointer; }
  .form__radio-button--pink {
    background-color: #f62f5e; }
  .form__radio-button--green {
    background-color: #00d3ca; }
  .form__radio-button--blue {
    background-color: #6eb2fb; }
  .form__radio-button--yellow {
    background-color: #f8e71c; }
  .form__radio-button--solder-green {
    background-color: #7ed321; }
  .form__radio-button--orange {
    background-color: #fe5c07; }
  .form__radio-button--purple {
    background-color: #9013fe; }
  .form__radio-button::before {
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all .3s;
    background-color: transparent; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::before {
  border: 1px solid lightgray; }

.rectangle-box {
  display: flex;
  width: 5.5rem;
  height: 2.4rem;
  border-radius: 2px;
  background-color: #efefef;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  color: rgba(46, 46, 46, 0.6);
  cursor: pointer; }
  .rectangle-box:hover, .rectangle-box--selected {
    background-color: #f62f5e;
    color: white; }

.merged {
  /* color the track
     * firefox/webkit gradient done in JavaScript */
  /* size the slider */
  /* style the thumb
     * can all be same but must be on seperate lines
     * or browsers won't accept them */ }
  .merged input:focus {
    outline: none; }
  .merged input::-moz-range-track {
    border: solid 2px #444;
    border-radius: 8px;
    -webkit-appearance: none; }
  .merged input::-ms-fill-upper {
    background-color: blue; }
  .merged input::-ms-fill-lower {
    background-color: #267928; }
  .merged input::-ms-fill-upper,
  .merged input::-ms-fill-lower {
    border: solid 2px #444;
    border-radius: 8px;
    -webkit-appearance: none; }
  .merged input::-ms-track {
    border: none;
    color: transparent; }
  .merged input.webkit-track {
    border-radius: 8px;
    -webkit-appearance: none; }
  .merged input::-moz-range-track {
    height: 12px; }
  .merged input::-ms-track {
    height: 4px; }
  .merged input {
    height: 4px; }
  .merged input {
    width: 100%; }
  .merged input::-moz-range-thumb {
    background-color: #469948;
    border: solid 2px #dedede;
    border-radius: 0;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    cursor: pointer; }
  .merged input::-ms-thumb {
    background-color: #469948;
    border: solid 2px #dedede;
    border-radius: 0;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    cursor: pointer; }
  .merged input::-webkit-slider-thumb {
    background-color: #f62f5e;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    -webkit-appearance: none;
    cursor: pointer; }
  .merged .right-pan {
    transform: rotate(180deg);
    margin-left: -2px; }

/* The container */
.input-group {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.input-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 17px;
  border-radius: 4px;
  background-color: #efefef; }

/* On mouse-over, add a grey background color */
.input-group :hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.input-group input:checked ~ .checkmark {
  border: solid 1px #6eb2fb;
  background-color: #6eb2fb; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.input-group input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.input-group .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.text-small {
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  border: none;
  color: #ffffff;
  cursor: pointer; }
  .text-small--pink {
    color: #f62f5e; }

.big-text-black {
  height: 72px;
  font-family: 'Playfair Display', serif;
  font-size: 4.8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 2px;
  display: flex;
  align-items: center; }

.accessories {
  display: flex;
  flex-direction: column; }
  .accessories > a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: white; }

.navigation__checkbox {
  display: none; }

.navigation__background {
  display: none;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  background-color: #2e2e2e;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  left: 28px;
  top: 8px; }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      display: block; } }

.navigation__button {
  display: none;
  background-color: #2e2e2e;
  height: 7rem;
  width: 7rem;
  position: absolute;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      display: block; } }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #f62f5e;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background-color: #2e2e2e;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 234%;
  transition: all .4s;
  font-family: Montserrat; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: gray;
  transform: translateX(1rem); }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked ~ .navigation__background {
  height: 100vh;
  width: 100vw; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__button {
  position: fixed; }

.logo {
  padding: 0; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      justify-self: center; } }

.footer {
  display: grid;
  background-color: #2e2e2e;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-row-gap: 2.6rem;
  padding: 15px 0; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      display: none; } }
  .footer__variaties {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(5, minmax(15.8rem, auto)); }
    @media only screen and (max-width: 37.5em) {
      .footer__variaties {
        display: none;
        width: 0;
        visibility: hidden; } }
  .footer__social-icons {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-gap: 2rem; }
  .footer__circle {
    width: 40px;
    height: 40px; }
  .footer > p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.2);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal; }

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 3rem; }
  @media only screen and (max-width: 37.5em) {
    .nav-bar {
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: #f7f7f7; } }
  .nav-bar__checkbox {
    display: none; }
  .nav-bar__background {
    display: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    background-color: #2e2e2e;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    left: 28px;
    top: 8px; }
    @media only screen and (max-width: 56.25em) {
      .nav-bar__background {
        display: block; } }
  .nav-bar__button {
    background-color: transparent;
    height: 7rem;
    width: 7rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__button {
        padding-right: 10px;
        justify-self: end; } }
  .nav-bar__icon {
    position: relative;
    margin-top: 3.5rem; }
    .nav-bar__icon, .nav-bar__icon::before, .nav-bar__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #f62f5e;
      display: inline-block; }
    .nav-bar__icon::before, .nav-bar__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .nav-bar__icon::before {
      top: -.8rem; }
    .nav-bar__icon::after {
      top: .8rem; }
  .nav-bar__nav {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-row-gap: 10px;
    height: 0;
    position: fixed;
    top: 58px;
    left: 0;
    z-index: 1500;
    background-color: white;
    opacity: 0;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .nav-bar__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .nav-bar__item {
    margin: 1rem; }
  .nav-bar__link:link, .nav-bar__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 234%;
    transition: all .4s;
    font-family: Montserrat; }
    .nav-bar__link:link span, .nav-bar__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .nav-bar__link:hover, .nav-bar__link:active {
    background-position: 100%;
    color: gray;
    transform: translateX(1rem); }
  .nav-bar__button:hover .nav-bar__icon::before {
    top: -1rem; }
  .nav-bar__button:hover .nav-bar__icon::after {
    top: 1rem; }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon {
    background-color: transparent; }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav-bar__checkbox:checked ~ .nav-bar__background {
    height: 100vh;
    width: 100vw; }
  .nav-bar__checkbox:checked ~ .nav-bar__nav {
    opacity: 1;
    height: 100%; }
  .nav-bar__checkbox:checked ~ .nav-bar__checkbox:parent {
    background-color: red; }

.footer-light {
  display: grid;
  background-color: white;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-row-gap: 2.6rem;
  color: black;
  padding: 15px 0; }
  @media only screen and (max-width: 37.5em) {
    .footer-light {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 35px;
      justify-items: start;
      padding: 5%; } }
  .footer-light__variaties {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(5, minmax(15.8rem, auto)); }
    @media only screen and (max-width: 37.5em) {
      .footer-light__variaties {
        display: none; } }
    .footer-light__variaties > a {
      font-family: Montserrat;
      font-size: 2.4rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: center;
      color: var(--black); }
  .footer-light__social-icons {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer-light__social-icons {
        display: none; } }
  .footer-light__circle {
    width: 40px;
    height: 40px; }
  .footer-light > p {
    color: lightgrey;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal; }
  .footer-light___list {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal; }

.rating {
  display: flex; }
  .rating > .gold {
    margin-right: 5px; }

.header-medium-left-black {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--black); }
  @media only screen and (max-width: 37.5em) {
    .header-medium-left-black {
      text-align: center; } }

.header-medium-left-red {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--red-pink); }

.header-small-left-grey {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #b4b4b4; }

.quantity-input-text {
  width: 50px;
  height: 36px;
  border-radius: 22px;
  border: none;
  text-align: center;
  border-radius: 100px;
  border: solid 1px #e1e1e1;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--black); }

.button-medium-center-red {
  width: 22.1rem;
  height: 6rem;
  border-radius: 10rem;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--red-pink); }
  .button-medium-center-red > button {
    border-radius: 100px; }

.body-normal-left-black {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black); }

.header-small-left-black {
  font-family: LucidaGrande;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black); }

.circle-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #efefef; }

.divider {
  width: auto;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 3.4rem;
  margin-bottom: 4.6rem; }

.form-text-input {
  border-radius: 6px;
  border: solid 1px #e1e1e1;
  background-color: white;
  padding: 2rem;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #bababa; }
  .form-text-input:focus {
    outline: none; }
  .form-text-input--small {
    width: 22rem;
    height: 4.8rem; }
    @media only screen and (max-width: 37.5em) {
      .form-text-input--small {
        width: min-content;
        max-width: 22rem;
        max-height: 4.8rem; } }
  .form-text-input--big {
    width: 54.1rem;
    height: 12.1rem; }
    @media only screen and (max-width: 37.5em) {
      .form-text-input--big {
        width: min-content;
        max-width: 54.1rem;
        max-height: 12.1rem; } }

.guide-text {
  color: lightgrey;
  font-size: 1.2rem;
  margin-top: 1rem; }
  .guide-text > span > a {
    text-decoration: none;
    color: #f62f5e; }

.button-small-center-white {
  width: 91px;
  height: 35px;
  border-radius: 24px;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: var(--white); }
  .button-small-center-white > button {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: var(--white); }

.you-may {
  margin: 0 0 2.1rem 3rem; }
  @media only screen and (max-width: 37.5em) {
    .you-may {
      padding: 8px 0 21px 3rem;
      text-align: center; } }

.detail-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-gap: 2rem;
  justify-content: center;
  justify-items: center;
  height: 100%;
  margin: 17px 0 4.8rem 0;
  overflow-x: scroll;
  align-content: center; }

.image-slider {
  display: grid;
  grid-template-rows: minmax(auto, 43.6rem) auto;
  justify-content: center;
  align-content: center;
  grid-row-gap: 4.4rem; }
  @media only screen and (max-width: 37.5em) {
    .image-slider {
      display: none; } }

.thumbnail {
  display: grid;
  grid-template-columns: 7.2rem 7.2rem 7.2rem;
  grid-column-gap: 8px;
  width: 100%;
  justify-content: center; }

.image-viewer {
  max-width: 43.6rem;
  max-height: 43.6rem;
  height: 100%;
  width: 100%;
  object-fit: contain; }
  .image-viewer--mobile {
    width: 32rem;
    height: 34.4rem; }
    @media only screen and (min-width: 600px) {
      .image-viewer--mobile {
        display: none; } }

.thumail-image {
  width: 100%;
  object-fit: contain; }
  .thumail-image--selected {
    border: solid 1px #f62f5e; }

@media only screen and (max-width: 37.5em) {
  .mobile {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center; } }

.circle-blue {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: solid 2px #6eb2fb; }
  .circle-blue--selected {
    background-color: #6eb2fb; }

.back-arrow {
  width: 72px;
  height: 72px; }
  @media only screen and (min-width: 600px) {
    .back-arrow {
      display: none; } }

.copy {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal; }

.header-medium-centered-black {
  width: 95px;
  height: 72px;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: var(--black); }

.login-input {
  width: 300px;
  height: 60px;
  border-radius: 6px;
  border: solid 1px #e1e1e1;
  text-align: center;
  font-size: 24px;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #bababa; }
  .login-input:focus {
    outline: none; }

.header-small-left-red {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--red-pink); }

.padding-top-medium {
  padding-top: 48px; }

.navi-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 3rem;
  height: 72px; }
  @media only screen and (max-width: 37.5em) {
    .navi-bar {
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: #f7f7f7; } }
  .navi-bar__checkbox {
    display: none; }
  .navi-bar__background {
    display: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    background-color: #2e2e2e;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    left: 28px;
    top: 8px; }
    @media only screen and (max-width: 56.25em) {
      .navi-bar__background {
        display: block; } }
  .navi-bar__button {
    background-color: transparent;
    height: 7rem;
    width: 7rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .navi-bar__button {
        padding-right: 10px;
        justify-self: end; } }
  .navi-bar__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navi-bar__icon, .navi-bar__icon::before, .navi-bar__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #f62f5e;
      display: inline-block; }
    .navi-bar__icon::before, .navi-bar__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navi-bar__icon::before {
      top: -.8rem; }
    .navi-bar__icon::after {
      top: .8rem; }
  .navi-bar__nav {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-row-gap: 10px;
    height: 0;
    position: fixed;
    top: 58px;
    left: 0;
    z-index: 1500;
    background-color: white;
    opacity: 0;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navi-bar__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navi-bar__item {
    margin: 1rem; }
  .navi-bar__link:link, .navi-bar__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 234%;
    transition: all .4s;
    font-family: Montserrat; }
    .navi-bar__link:link span, .navi-bar__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navi-bar__link:hover, .navi-bar__link:active {
    background-position: 100%;
    color: gray;
    transform: translateX(1rem); }
  .navi-bar__button:hover .navi-bar__icon::before {
    top: -1rem; }
  .navi-bar__button:hover .navi-bar__icon::after {
    top: 1rem; }
  .navi-bar__checkbox:checked + .navi-bar__button .navi-bar__icon {
    background-color: transparent; }
  .navi-bar__checkbox:checked + .navi-bar__button .navi-bar__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navi-bar__checkbox:checked + .navi-bar__button .navi-bar__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navi-bar__checkbox:checked ~ .navi-bar__background {
    height: 100vh;
    width: 100vw; }
  .navi-bar__checkbox:checked ~ .navi-bar__nav {
    opacity: 1;
    height: 100%; }
  .navi-bar__checkbox:checked ~ .navi-bar__checkbox:parent {
    background-color: red; }

.topbar-normal-black {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: var(--black); }

.header-big-centered-white {
  font-family: 'Playfair Display', serif;
  font-size: 4.8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  color: var(--white);
  max-width: 780px;
  max-height: 72px; }

.header-medium-centered-white {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  max-width: 632px;
  max-height: 72px; }

.button-medium-centered-white {
  width: 163px;
  height: 48px;
  border-radius: 24px;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #f62f5e;
  background-color: white; }

.circle-white-wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 5px; }

.circle-white {
  width: 12px;
  height: 12px;
  border: solid 2px white;
  border-radius: 100%; }
  .circle-white--active {
    background-color: white; }

.bg-black {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #2e2e2e;
  width: 100%;
  height: 384px; }

.header-big-left-white {
  font-family: 'Playfair Display', serif;
  font-size: 4.8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 2px;
  color: var(--white);
  width: 472px;
  height: 144px;
  padding: 0 40px; }

.pop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 57px;
  height: 24px;
  background-color: #fe5c07;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  padding-right: 5px;
  position: absolute;
  left: 25px;
  top: 21px; }

.subscribe-form {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-gap: 42px;
  background-color: white;
  height: 264px; }
  @media only screen and (max-width: 37.5em) {
    .subscribe-form {
      padding: 0 10px; } }
  .subscribe-form > h2 {
    width: 472px;
    height: 72px; }

.showcase-content__right {
  min-width: 300px;
  height: 100%;
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .showcase-content__right {
      grid-row: 1/2; } }
  .showcase-content__right > img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .showcase-content__right > h2 {
    position: absolute;
    left: 25px;
    top: 100px;
    padding: 0; }

.show-mobile-only {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .show-mobile-only {
      display: block; } }

.sale-tag {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 57px;
  height: 24px;
  background-color: #00d3ca;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  position: absolute;
  left: 25px;
  top: 21px; }

.body-normal-left-white {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.7px;
  color: var(--white);
  position: absolute;
  left: 25px;
  top: 160px;
  padding: 0; }

.check-twice-wrapper {
  position: absolute;
  left: 25px;
  bottom: 60px;
  padding: 0; }
  .check-twice-wrapper > button {
    font-weight: bold; }

.cart-modal {
  display: grid;
  justify-content: space-around;
  align-content: center;
  grid-row-gap: 29px;
  position: fixed;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  background-color: #fff;
  max-width: 940px;
  padding: 40px;
  width: 100%;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
  z-index: 2500;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .cart-modal--visible {
    opacity: 1;
    height: 745px;
    visibility: visible; }
  .cart-modal > img {
    position: fixed;
    right: 0;
    cursor: pointer; }

.cart-table {
  display: grid;
  width: 100%;
  grid-row-gap: 10px; }
  .cart-table__head {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    justify-content: space-between; }
  .cart-table__ruler {
    max-width: 780px;
    height: 2px;
    background-color: #e5e5e5; }
  .cart-table__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 24px; }
    .cart-table__item__right {
      display: grid;
      grid-row-gap: 10px; }
      .cart-table__item__right > span {
        display: flex;
        align-items: center;
        height: 100%;
        font-family: Montserrat;
        font-size: 1.6rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #f62f5e;
        color: rgba(46, 46, 46, 0.6);
        font-weight: normal;
        font-size: 1.2rem; }
        .cart-table__item__right > span > img {
          height: 100%; }
    .cart-table__item__left > .image-holder {
      width: 96px;
      height: 96px;
      border: solid 1px #e5e5e5;
      background-color: white; }
      .cart-table__item__left > .image-holder > img {
        width: 100%; }

.size-wrapper {
  display: grid;
  padding: 0; }
  .size-wrapper > span {
    color: black;
    font-weight: normal;
    text-align: center;
    padding: 0; }

.cart-footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 25%;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
  width: 100%;
  height: 96px;
  position: fixed;
  left: 0;
  bottom: 0; }
  .cart-footer > div {
    height: 48px; }
    .cart-footer > div > button {
      width: 163px; }

.pull-right {
  justify-self: flex-end; }

.tab-port-hide {
  display: grid; }
  @media only screen and (max-width: 56.25em) {
    .tab-port-hide {
      display: none; } }

.tab-port-show {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .tab-port-show {
      display: flex; } }

.show-mobile-grid {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .show-mobile-grid {
      display: grid; } }
