$color-white-1: #f7f7f7;


$red-pink: #f62f5e;

$color-dark: #2e2e2e;

$gray-dark: rgba(255, 255, 255, 0.5);
$gray-medium: #efefef;
$gray-dirty: #bababa;
$gray-less: #f7f7f7;
$white-gray: #fafafa;

$green-fancy: #00d3ca;
$blue-fancy: #6eb2fb;
$orange-fancy: #fe5c07;
$yellow-fancy: #f8e71c;
$solder-green: #7ed321;
$purple-fancy: #9013fe;